@import url("./scss/normalize.css");

a {
  text-decoration: none;
  // color: black;

  &:visited {
    // color: black;
  }
}
.contentContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border: 1px solid blue;
  padding: 16px;
}
